    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="row">

                <div class="col-xs-6 col-sm-3 col-md-push-1">
                    <div class="navbar-header">
                        <a href="#top"><h2 class="cute text-center">Gigi</h2>
      <h5 class="text-uppercase text-center">For President</h5></a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-pull-1 col-sm-3 col-sm-push-6">
                    <button class="btn"><a href="https://paypal.me/porter365" target="_blank"><span class="fa fa-star"></span>&nbsp;&nbsp;Donate&nbsp;&nbsp;<span class="fa fa-star"></span></a></button>
                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-3">
                    <ul class="list-inline">
                        <li col-md-3><a href="#about">About</a></li>
                        <li>
                            <a href="#platform">Platform</a></li>
                        <li>
                            <a href="#share">Follow</a></li>
                        <li>
                            <a href="#donate">FAQ</a></li>
                    </ul>

                </div>

            </div>
        </div>
    </nav>
